<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="">
  <section class="grid-test">
    <div class="row">
      <div class="col-1-of-2">
        <h5 class="texthead"><b>Partner Details</b></h5>
        Name:
        Age:
      </div>
      <div class="col-1-of-2">
        <h5 class="texthead"><b>Contact Details</b></h5>
      </div>
    </div>
  </section>

  <section class="grid-test">
    <div class="row">
      <div class="col-1-of-2">
        <h5 class="texthead"><b>Services Provided</b></h5>
      </div>
      <div class="col-1-of-2">
        <h5 class="texthead"><b>Personal Details</b></h5>
      </div>
    </div>
  </section>

  <section class="grid-test">
    <div class="row">
      <div class="col-1-of-2">
        <h5 class="texthead"><b>Contract Details</b></h5>
      </div>
      <div class="col-1-of-2">
        <h5 class="texthead"><b>Other Details</b></h5>
      </div>
    </div>
  </section>
</div>
