<app-worker-header> </app-worker-header>
<h2 style="margin:1rem">{{ workerObj.name }}</h2>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 mt-3">
      <div class="card">
        <div class="card-vertical">
          <div class="img-square-wrapper">
            <img class="box" src="https://picsum.photos/250" alt="Card image cap" />
          </div>
          <div class="card-body">
            <h3 class="card-title">Service Name</h3>
            <h4 class="number">4</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 mt-3">
      <div class="card">
        <div class="card-vertical">
          <div class="img-square-wrapper">
            <img
              class="box"
              src="https://picsum.photos/250"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <h3 class="card-title">Service Name</h3>
            <h4 class="number">5</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 mt-3">
      <div class="card">
        <div class="card-vertical">
          <div class="img-square-wrapper">
            <img
              class="box"
              src="https://picsum.photos/250"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <h3 class="card-title">Service Name</h3>
            <h4 class="number">2</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 mt-3">
      <div class="card">
        <div class="card-vertical">
          <div class="img-square-wrapper">
            <img
              class="box"
              src="https://picsum.photos/250"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <h3 class="card-title">Service Name</h3>
            <h4 class="number">3</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
    <div class="row">
      <div class="col-12 mt-3">
        <div class="card">
          <div class="card-vertical">
            <div class="img-square-wrapper">
              <img
                class="box"
                src="https://picsum.photos/250"
                alt="Card image cap"
              />
            </div>
            <div class="card-body">
              <h3 class="card-title">Service Name</h3>
              <h4 class="number">7</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

