.card-vertical {
  display: flex;
  flex: 1 1 auto;
}

.box {
  border: 2px solid black;
  height: 5rem;
  width: 5rem;
  margin: 1rem;
}

.number {
  border: 1px solid black;
  background-color: black;
  border-radius: 2px;
  height: 2rem;
  width: 2rem;
  color: white;
  text-align: center;
  right: 15rem;
}
