<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <!-- <script src="//code.jquery.com/jquery-1.10.2.js"></script> -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="D:\wp\intership\Angular\Angular-project\src\styles.css">

    <title>Document</title>
</head>
<body> -->

    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="image">
    <img src="assets/index.png" class="float:right" style="float:right">
    </div>

    <form action="/action_page.php" style="border:1px solid #ccc;" >

      <div class="container abc">
          <label for="address"><b>Description</b></label>
          <textarea rows="5" cols="5"></textarea>
        <label for="name"><b>Name</b></label>
        <input type="text" name="name" >
        <label for="name"><b>Profession</b></label>
        <input type="text" name="name">
        <label for="name"><b>Age</b></label>
        <input type="text" name="name">
        <label for="address"><b>Address</b></label>
        <textarea rows="5" cols="5" ></textarea>
        <label for="name"><b>Gender</b></label>
        <input type="text" name="name" >
        <label for="name"><b>Pincode</b></label>
        <input type="text"  name="name" required>
        <label for="name"><b>Contact Number</b></label>
        <input type="text"  name="name" required>
      </div>
      </form>

      <!-- </body>
      </html>
 -->

