<app-header></app-header>
<app-sidebar></app-sidebar>
<div class=""  style="margin: 1rem 10rem 0 10rem">
  <table class="table table-hover table-striped">
    <thead>
      <th style="font-size: 20px">Name</th>
      <th style="font-size: 20px">Description</th>
      <th></th>
    </thead>
    <tbody>

      <tr *ngFor="let service of servicesArray" >
      <!-- <tr> -->
        <td style="font-size: 20px">{{service.name}}</td>
        <td style="font-size: 20px">{{service.description}}</td>
        <td align="right">
          <button class="btn btn-success" style="margin-right: 2%">Edit</button>
          <button class="btn btn-danger" (click)="onDelete(service._id)">Remove</button>
        </td>
      </tr>

      <!-- <tr>
        <td style="font-size: 20px">2</td>
        <td style="font-size: 20px">Minerva Hooper</td>
        <td></td>
        <td></td>
        <td align="right">
          <button class="btn btn-success" style="margin-right: 2%">Edit</button>
          <button class="btn btn-danger">Remove</button>
        </td>
      </tr> -->
    </tbody>
  </table>
</div>
<a routerLink="/admin/add_service" class="btn btn-primary" style="margin-left:45%">Add Services</a>
