<app-header></app-header>
<div id="wrapper">
  <app-sidebar></app-sidebar>
  <form>
    <div class="container">
      <label for="name"><b>Service Name</b></label>
      <input
        type="text"
        placeholder="Enter Service Name"
        name="name"
        required
      />
      <label for="address"><b>Description</b></label>
      <textarea rows="5" cols="5" placeholder="Enter Description"></textarea>
      <label for="name"><b>Image Upload</b></label>
      <input
        type="file"
        placeholder="Enter Service Name"
        name="name"
        required
      />
      <br>
      <button type="submit" class="btn btn-danger" style="width:10%">
        Cancel
      </button>
      <button type="submit" class="btn btn-success" style="width:10%">
        Submit
      </button>
    </div>
  </form>
</div>
