<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="existing_worker_main" style="margin: 1rem 10rem 0 10rem">
  <table class="table table-hover table-striped">
    <thead>
        <thead>
            <th style="font-size: 20px">Name</th>
            <th></th>
          </thead>
          <tbody>

            <tr *ngFor="let worker of workersArray">
              <td style="font-size: 20px">{{worker.name}}</td>
              <td align="right">
                <button class="btn btn-success" style="margin-right: 2%">Edit</button>
                <button class="btn btn-danger" (click)="onDelete(worker._id)">Remove</button>
              </td>
            </tr>
    </tbody>
  </table>
</div>
